@{
    ViewBag.Title = "Commission - Fibre+";
}

<div ng-controller="FibrePlusCtrl" ng-init="init()">
    @{ Html.RenderPartial("FibrePlus/_SearchForm"); }
    @{ Html.RenderPartial("FibrePlus/_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/fibreplus/controller.js"></script>
