@{
    ViewBag.Title = "Index";
}

<div ng-controller="FibrePlusCtrl" ng-init="init()">
    <form name="form" class="form-horizontal well" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Agent</label>
            <div class="col-sm-9">
                <select id="agentID" name="agentID" style="width:80%"
                        ng-model="agentID"
                        ng-required="true"
                        ui-select2
                        data-placeholder="Please select">
                    <option value=""></option>
                    <option value="0">All</option>
                    <option ng-repeat="o in agents" value="{{o.AgentID}}">{{o.AgentID}} ({{o.AgentType}}): {{o.AgentName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date From</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="dateFrom" datepicker-popup="yyyy-MM-dd" is-open="openedDateFrom" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn" ng-click="openDateFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date To</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="dateTo" datepicker-popup="yyyy-MM-dd" is-open="openedDateTo" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn" ng-click="openDateTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="showCommission()" ng-disabled="form.$invalid">Show Commission</button>
            </div>
        </div>
        <div class="form-group" ng-show="result != null">
            <label class="col-sm-2 control-label">Commission</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{commission | currency:''}}</p>
            </div>
        </div>
        <div class="form-group" ng-show="result != null">
            <label class="col-sm-2 control-label">Commission %</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{commissionrate * 100}} %</p>
            </div>
        </div>
        <div class="form-group" ng-show="result != null">
            <label class="col-sm-2 control-label">Tier Commission %</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{tiercommissionrate * 100}}</p>
            </div>
        </div>
    </form>

    {{agentlist | json}}

    <div ng-repeat="o in agentlevels" ng-show="result != null">
        <div ng-repeat="a in groups[o]">
            <h4>{{a}}</h4>
            <ul>
                <li ng-repeat="x in a">
                    {{x.AgentName}}
                </li>
            </ul>
        </div>
    </div>

    <div ng-repeat="o in agentlevels" ng-show="result != null">
        <table class="table table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Agent ID</th>
                    <th>Agent Name</th>
                    <th>Agent Type</th>
                    <th>Agent Team</th>
                    <th>Commission</th>
                    <th>Commission %</th>
                    <th>Tier Commission %</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in agentlist[o]">
                    <td>{{x.AgentID}}</td>
                    <td>{{x.AgentName}}</td>
                    <td>{{x.AgentType}}</td>
                    <td>{{x.AgentTeam}} {{x.AgentTeamName}}</td>
                    <td>{{x.TotalCommission | currency}}</td>
                    <td>{{x.CommissionRate * 100}}</td>
                    <td>{{x.TierCommissionRate * 100}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="~/Areas/Commission/js/fibreplus/controller.js"></script>
