@{
    ViewBag.Title = "Commission - Discounted Call Service";
}

<div ng-controller="DiscountedCallServiceCtrl" ng-init="init()">
    @{ Html.RenderPartial("DiscountedCallService/_SearchForm"); }
    @{ Html.RenderPartial("DiscountedCallService/_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/voice/discountedcallservice/controller.js"></script>
