@using CommissionSystem.WebUI.Helpers;

<!DOCTYPE html>

<html ng-app="mvcapp">
<head>
    <!-- Force latest IE rendering engine or ChromeFrame if installed -->
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>@ViewBag.Title</title>

    <link href="~/css/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/css/bootstrap/css/select2.css" rel="stylesheet" />
    <link href="~/css/lib/toastr.min.css" rel="stylesheet" />
    <link href="~/css/lib/loading-bar.css" rel="stylesheet" />
    <link href="~/css/lib/angular-motion.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="~/js/lib/jquery-1.10.2.min.js"></script>
    <script src="~/js/lib/jquery.blockUI.js"></script>
    <script src="~/js/lib/bootstrap.min.js"></script>
    <script src="~/js/lib/AdminLTE/app.js"></script>
    <script src="~/js/lib/angular.min.js"></script>
    <script src="~/js/lib/angular-route.min.js"></script>
    <script src="~/js/lib/angular-animate.min.js"></script>
    <script src="~/js/lib/angular-sanitize.min.js"></script>
    <script src="~/js/lib/angular-strap.min.js"></script>
    <script src="~/js/lib/angular-strap.tpl.min.js"></script>
    <script src="~/js/lib/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script src="~/js/lib/ui-utils.min.js"></script>
    <script src="~/js/lib/select2.min.js"></script>
    <script src="~/js/lib/select2.js"></script>
    <script src="~/js/lib/toastr.min.js"></script>
    <script src="~/js/lib/loading-bar.js"></script>
    <script src="~/js/lib/underscore-min.js"></script>
    <script src="~/js/lib/bootbox.min.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/route.js"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/filters.js"></script>
    <script src="~/js/services.js"></script>
    <script src="~/js/directives.js"></script>
</head>
<body class="skin-blue">
    @{ Html.RenderPartial("_Header"); }
    <div class="wrapper row-offcanvas row-offcanvas-left">
        @{ Html.RenderPartial("_LeftMenu"); }
        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>@ViewBag.Title</h1>
            </section>
            <!-- Main content -->
            <section class="content2">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </section>
        </aside>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
