@{
    ViewBag.Title = "ADSL";
}

<div ng-controller="ADSLCtrl" ng-init="init()">
    @{ Html.RenderPartial("FibrePlus/_SearchForm"); }
    @{ Html.RenderPartial("_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/adsl/controller.js"></script>
