@{
    ViewBag.Title = "ADSL";
}

<div ng-controller="ADSLCtrl" ng-init="init()">
    @{ Html.RenderPartial("ADSL/_SearchForm"); }
    @{ Html.RenderPartial("ADSL/_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/adsl/controller.js"></script>
