@{
    ViewBag.Title = "Corporate Internet Pro";
}

<div ng-controller="CorporateInternetProCtrl" ng-init="init()">
    @{ Html.RenderPartial("ADSL/_SearchForm"); }
    @{ Html.RenderPartial("ADSL/_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/corporateinternetpro/controller.js"></script>
