@using CommissionSystem.Domain.ProtoBufModels;

@{
    ViewBag.Title = "Corporate Data - Agent Structure";
}

@if (ViewBag.list != null)
{
    List<SalesParent> lx = ViewBag.list as List<SalesParent>;
    if (lx != null)
    {
        @ShowTree(lx)
    }
}

@helper ShowTree(List<SalesParent> l)
{
    <ul>
        @{
            var lx = l.OrderBy(x => x.SParentID);
            foreach (var o in lx)
            {
                <li>@o.SParentID @o.SParentName</li>
                if (o.ChildAgentList.Any())
                {
                    @ShowTree(o.ChildAgentList)
                }
            }
        }
    </ul>
}
