@{
    ViewBag.Title = "Commission - Corporate Data";
}

<div ng-controller="DataCtrl" ng-init="init()">
    @{ Html.RenderPartial("_SearchForm"); }
    @{ Html.RenderPartial("_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/data/controller.js"></script>
