@using CommissionSystem.WebUI.Areas.Commission.Models;

@{
    ViewBag.Title = "AgentSummary";
}

<h2>AgentSummary</h2>

@if (ViewBag.list != null)
{
    List<Agent> lx = ViewBag.list as List<Agent>;
    if (lx != null)
    {
        @ShowTree(lx)
    }
}

@helper ShowTree(List<Agent> l)
{    
    <ul>
        @foreach (var o in l)
        {
            <li>@o.AgentName, @(o.AgentType)</li>
            if (o.ChildAgentList.Any())
            {
                @ShowTree(o.ChildAgentList)
            }
        }
    </ul>
}
