@{
    ViewBag.Title = "Speed+";
}

<div ng-controller="SpeedPlusCtrl" ng-init="init()">
    @{ Html.RenderPartial("FibrePlus/_SearchForm"); }
    @{ Html.RenderPartial("FibrePlus/_CommissionResult"); }
</div>

<script src="~/Areas/Commission/js/speedplus/controller.js"></script>
