@{
    ViewBag.Title = "Index";
}

<div ng-controller="SpeedPlusCtrl">
    <form name="form" class="form-horizontal well" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">Agent</label>
            <div class="col-sm-9">
                <select id="agentID" name="agentID" class="form-control"
                        ng-model="agentID"
                        ng-required="true"
                        ui-select2
                        data-placeholder="Please select">
                    <option value=""></option>
                    <option ng-repeat="o in agents" value="{{o.AgentID}}">{{o.AgentName}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date From</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="dateFrom" datepicker-popup="yyyy-MM-dd" is-open="openedDateFrom" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn" ng-click="openDateFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date To</label>
            <div class="col-sm-2">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="dateTo" datepicker-popup="yyyy-MM-dd" is-open="openedDateTo" ng-required="true" />
                    <span class="input-group-btn">
                        <button class="btn" ng-click="openDateTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="showCommission()" ng-disabled="form.$invalid">Show Commission</button>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Commission</label>
            <div class="col-sm-8">
                <p class="form-control-static">{{commission}}</p>
            </div>
        </div>
    </form>
</div>

<script src="~/Areas/Commission/js/speedplus/controller.js"></script>
